.body{
    margin-top: 0px;
}


.body__about,.body__location{
    flex: 1;
    background-color: #111827;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.body__about__left,.body__location__right{
    height:70%;
    border-radius: 1rem;
    margin-left: 5%;
    flex: 0.5;
    background-color: 
    #1f2937;
    color: #ffffff;
}
.body__location__right{
    margin-right: 5%;
}
.body__about__right,.body__location__left{
    flex: 0.5;
    padding: 20px;
}
.body__about__left>h1,.body__location__right>h1{
    margin: 20px;
    font-size: 50px;
}
.body__about__left>h3,.body__about__left>a,
.body__location__right>h3,.body__location__right>a{
    color: #8a8f96;
    margin: 20px;
}
.body__about__left>a>button{
    margin-top: 15px;
    letter-spacing: 2px;
    background-color: 
    #fee4cb;
    color: black;
}
.body__location__right>a>button{
    margin-top: 15px;
    letter-spacing: 2px;
    background-color: #dbf6fd;
    color: black;
}
.body__location__right>a>button:hover{
    background-color: #096c86;
}
.body__about__left>a>button:hover{
    background-color: 
    #ff942e;
}
hr{
    width: 50%;
    margin: auto;
}
.body__about__right__input{
    border: 2px solid #17252a;
    display: flex;

}
.body__about__right >form{
    margin: 20px;
    border-radius: 3px;
    padding: 3px;
}
.body__about__right__btns>button{
    margin:10px;
  height: 50px;
    width: 200px;
    background-color: #17252a;
    color: #feffff;
}
.body__about__right__input>input{
    width: 100%;
    background: transparent;
    outline-width: 0;
    color: black;
    border: none;
    padding: 5px;
}
.body__about__right>form>button{
    display: none;
}
form > .MuiSvgIcon-root{
    color: #583060;
}

a:-webkit-any-link{
    text-decoration: none;
    color: #feffff;
}


