
.cluster-marker {
    color: #fff;
    background: red;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.kendra-marker{
    position: fixed;
    background: none;
    border: none;
  }
.kendra-marker img{
    width:25px;
}
.locate__map{
    margin: 10px auto;
    width: 100%;
    height: 70%;

}
