.locate{
    width: 100%;
}
.locate__header{
    margin: 20px;
    width:100%;
    display: flex;
    justify-content: center;
}
.locate__header>h3{
    color: #17252a;
}
.locate__map{
    margin: 10px auto;
    width: 100%;
    height: 70%;

}
.Icon__location{
    color: blue;
}
