.medicineList__search{
    text-align: center;
    flex: 1;
    padding: 30px;
}

.medicineList__search>input{
    font-size: large;
    padding: 10px;
    margin-top: 20px;
    background: transparent;
    border: none;
    outline-width: 0;
    width: 50%;
}
.medicineList__search>input:focus{
    border-bottom: 2px solid #17252a;
}