.medicineInfoPanel{
    display: flex;
    padding: 20px 10px;
    width: 100%;
    margin: 10px;
    background:#def2f1;
    transition: 100ms ease-in;
}

.medicineInfoPanel__header{
    color: #17252a;
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.medicineInfoPanel__header>input{
    border-radius: 3px;
    background: transparent;
    outline-width: 0;
    color: black;
    border: 2px solid #17252a;
}
.medicineInfoPanel__footer{
    color: #17252a;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}
.medicineInfoPanel__footer>Button{
    color: #feffff;
    background-color: #17252a;
    height: 25px;
    border: 3px solid #17252a;
}
.medicineInfoPanel__footer>Button:hover{
    background-color: #17252a;
}
